.main-curiosidade > article> p{
    text-align: left;
    color: yellow;
}

aside > pre{
    background-color: black;
    border-radius: 20px;
    max-width: 470px;
    min-width: 400px;
    height: 600px;
    display: flex;
    margin: auto;
}
h3{
    text-align: center;
}

picture{
    max-width: 350px;
    margin: auto;
}

#letra{
    color: white;
    text-align: center;
    font-size: 1em;
}
