.personagem-imagem {
    display: flex;
    margin: 30px;
    align-items: center; 
}

.personagem-imagem img {
    max-width: 50%; 
    margin-left: 20px; 
    margin-right: 20px;
    min-width: 300px;
}

.texto {
    flex: 1;
}

.h1-right{
    text-align: right;
    margin-right: 40px;
}

#ListaCompleta{
    text-align: center;
}

